In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [6]:
from pyspark.sql import SparkSession
spark=SparkSession.builder \
    .appName("Read CSV example") \
    .getOrCreate()

In [7]:
data = [
    ("U1", 85),
    ("U2", 72),
    ("U3", 40)
]

In [8]:
df=spark.createDataFrame(data,["user_id","score"])

In [9]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [14]:
def classify(score):
    if score >= 80:
        return "High"
    elif score >= 50:
        return "Medium"
    else:
        return "Low"
performance_udf = udf(classify, StringType())
df=df.withColumn("performance", performance_udf(col("score")))
df.show()

+-------+-----+-----------+
|user_id|score|performance|
+-------+-----+-----------+
|     U1|   85|       High|
|     U2|   72|     Medium|
|     U3|   40|        Low|
+-------+-----+-----------+

In [12]:
from pyspark.sql.functions import when,col
df.withColumn("performance",when(col("score")>=80,"High").when(col("score")>=50,"Medium").otherwise("Low")).show()

+-------+-----+-----------+
|user_id|score|performance|
+-------+-----+-----------+
|     U1|   85|       High|
|     U2|   72|     Medium|
|     U3|   40|        Low|
+-------+-----+-----------+

In [15]:
df.orderBy("performance", df.score.desc()).show()

+-------+-----+-----------+
|user_id|score|performance|
+-------+-----+-----------+
|     U1|   85|       High|
|     U3|   40|        Low|
|     U2|   72|     Medium|
+-------+-----+-----------+

In [16]:
data_a=[
    ("U1","Python"),
    ("U2","Java"),
    ("U3","Spark")
]
df_a=spark.createDataFrame(data_a,["user_id","course"])

In [17]:
data_b=[
    ("U2","Java"),
    ("U3","Spark"),
    ("U4","Python")
]
df_b=spark.createDataFrame(data_b,["user_id","course"])

In [18]:
df_a.union(df_b).show()

+-------+------+
|user_id|course|
+-------+------+
|     U1|Python|
|     U2|  Java|
|     U3| Spark|
|     U2|  Java|
|     U3| Spark|
|     U4|Python|
+-------+------+

In [21]:
df_a.intersect(df_b).show()

+-------+------+
|user_id|course|
+-------+------+
|     U3| Spark|
|     U2|  Java|
+-------+------+