In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
    .appName("Day21_ex1")\
    .getOrCreate()

In [3]:
from pyspark.sql import types as T
sales_data = [
    ("TXN001","Delhi ","Laptop","Electronics","45000","2024-01-05","Completed"),
    ("TXN002","Mumbai","Mobile ","electronics","32000","05/01/2024","Completed"),
    ("TXN003","Bangalore","Tablet"," Electronics ","30000","2024/01/06","Completed"),
    ("TXN004","Delhi","Laptop","Electronics","","2024-01-07","Cancelled"),
    ("TXN005","Chennai","Mobile","Electronics","invalid","2024-01-08","Completed"),
    ("TXN006","Mumbai","Tablet","Electronics",None,"2024-01-08","Completed"),
    ("TXN007","Delhi","Laptop","electronics","45000","09-01-2024","Completed"),
    ("TXN008","Bangalore","Mobile","Electronics","28000","2024-01-09","Completed"),
    ("TXN009","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),
    ("TXN009","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed")
]
customer_data = [
("C001","Delhi","Premium"),
("C002","Mumbai","Standard"),
("C003","Bangalore","Premium"),
("C004","Chennai","Standard"),
("C005","Mumbai","Premium")
]
city_lookup = [
("Delhi","Tier-1"),
("Mumbai","Tier-1"),
("Bangalore","Tier-1"),
("Chennai","Tier-2")
]

sales_schema = T.StructType([
    T.StructField("txn_id",     T.StringType(), True),
    T.StructField("city",       T.StringType(), True),
    T.StructField("product",    T.StringType(), True),
    T.StructField("category",   T.StringType(), True),   # raw as-is (mixed case/spaces)
    T.StructField("amount",     T.StringType(), True),   # raw string (may be '', 'invalid', None)
    T.StructField("order_date", T.StringType(),True),   # mixed formats
    T.StructField("status",     T.StringType(), True),   # truncated/variants
])

customer_schema = T.StructType([
    T.StructField("customer_id", T.StringType(), True),
    T.StructField("city",        T.StringType(), True),
    T.StructField("segment",     T.StringType(), True),
])

lookup_schema = T.StructType([
    T.StructField("city", T.StringType(), False),
    T.StructField("tier", T.StringType(), False),
])

sales_df = spark.createDataFrame(sales_data, schema=sales_schema)
customers_df = spark.createDataFrame(customer_data, schema=customer_schema)
city_lookup_df = spark.createDataFrame(city_lookup, schema=lookup_schema)

In [11]:
from pyspark.sql.functions import col,to_date,coalesce
#clean_df=sales_df.withColumn("amount",col("amount").cast(T.IntegerType()))

clean_df=sales_df.withColumn("order_date",coalesce(to_date(col("order_date"),"dd/MM/yyyy"),to_date(col("order_date"),"yyyy-MM-dd")
  )
)
#clean_df.show()

In [13]:
from pyspark.sql.functions import col
invalid_df=clean_df.filter(col("amount").isNull() | col("order_date").isNull())

#invalid_df.show()

Phase 2

In [15]:

sales_df = sales_df.withColumn("city", F.upper(F.trim(F.col("city")))) \
                   .withColumn("product", F.upper(F.trim(F.col("product")))) \
                  .withColumn("category", F.upper(F.trim(F.col("category"))))
sales_df.show()
##5

+------+---------+-------+-----------+-------+----------+---------+
|txn_id|     city|product|   category| amount|order_date|   status|
+------+---------+-------+-----------+-------+----------+---------+
|TXN001|    DELHI| LAPTOP|ELECTRONICS|  45000|2024-01-05|Completed|
|TXN002|   MUMBAI| MOBILE|ELECTRONICS|  32000|05/01/2024|Completed|
|TXN003|BANGALORE| TABLET|ELECTRONICS|  30000|2024/01/06|Completed|
|TXN004|    DELHI| LAPTOP|ELECTRONICS|       |2024-01-07|Cancelled|
|TXN005|  CHENNAI| MOBILE|ELECTRONICS|invalid|2024-01-08|Completed|
|TXN006|   MUMBAI| TABLET|ELECTRONICS|   NULL|2024-01-08|Completed|
|TXN007|    DELHI| LAPTOP|ELECTRONICS|  45000|09-01-2024|Completed|
|TXN008|BANGALORE| MOBILE|ELECTRONICS|  28000|2024-01-09|Completed|
|TXN009|   MUMBAI| LAPTOP|ELECTRONICS|  55000|2024-01-10|Completed|
|TXN009|   MUMBAI| LAPTOP|ELECTRONICS|  55000|2024-01-10|Completed|
+------+---------+-------+-----------+-------+----------+---------+

In [16]:

sales_df = sales_df.withColumn("category", F.upper(F.trim(F.col("category"))))
sales_df.show()##6

+------+---------+-------+-----------+-------+----------+---------+
|txn_id|     city|product|   category| amount|order_date|   status|
+------+---------+-------+-----------+-------+----------+---------+
|TXN001|    DELHI| LAPTOP|ELECTRONICS|  45000|2024-01-05|Completed|
|TXN002|   MUMBAI| MOBILE|ELECTRONICS|  32000|05/01/2024|Completed|
|TXN003|BANGALORE| TABLET|ELECTRONICS|  30000|2024/01/06|Completed|
|TXN004|    DELHI| LAPTOP|ELECTRONICS|       |2024-01-07|Cancelled|
|TXN005|  CHENNAI| MOBILE|ELECTRONICS|invalid|2024-01-08|Completed|
|TXN006|   MUMBAI| TABLET|ELECTRONICS|   NULL|2024-01-08|Completed|
|TXN007|    DELHI| LAPTOP|ELECTRONICS|  45000|09-01-2024|Completed|
|TXN008|BANGALORE| MOBILE|ELECTRONICS|  28000|2024-01-09|Completed|
|TXN009|   MUMBAI| LAPTOP|ELECTRONICS|  55000|2024-01-10|Completed|
|TXN009|   MUMBAI| LAPTOP|ELECTRONICS|  55000|2024-01-10|Completed|
+------+---------+-------+-----------+-------+----------+---------+

In [19]:
from pyspark.sql import functions as F

sales_df = sales_df.withColumn("amount_int", F.regexp_extract(F.col("amount"), r"\d+", 0).cast("int")) \
                   .withColumn("amount_invalid", F.col("amount_int").isNull())
sales_df.show()

{"ts": "2025-12-23 05:41:29.350", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[CAST_INVALID_INPUT] The value '' of the type \"STRING\" cannot be cast to \"INT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018", "context": {"file": "line 3 in cell [19]", "line": "", "fragment": "cast", "errorClass": "CAST_INVALID_INPUT"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o420.showString.\n: org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value '' of the type \"STRING\" cannot be cast to \"INT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018\n== DataFrame ==\n\"cast\" was called from\nline 3 in cell [19]\n\n\tat org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toIntExact(UTF8StringUtils.scala:34)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils.toIntExact(UTF8StringUtils.scala)\n\tat org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)\n\tat org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)\n\tat org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)\n\tat org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)\n\tat org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)\n\tat org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)\n\tat org.apache.spark.rdd.RDD.iterator(RDD.scala:338)\n\tat org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)\n\tat org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)\n\tat org.apache.spark.scheduler.Task.run(Task.scala:147)\n\tat org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)\n\tat org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)\n\tat org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n\tat org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1009)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2484)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2505)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2524)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:544)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:497)\n\tat org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:58)\n\tat org.apache.spark.sql.classic.Dataset.collectFromPlan(Dataset.scala:2244)\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$head$1(Dataset.scala:1379)\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$withAction$2(Dataset.scala:2234)\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$withAction$1(Dataset.scala:2232)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$8(SQLExecution.scala:163)\n\tat org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:272)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$7(SQLExecution.scala:125)\n\tat org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)\n\tat org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:112)\n\tat org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:106)\n\tat org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:111)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$6(SQLExecution.scala:125)\n\tat org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:295)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:124)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:78)\n\tat org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:237)\n\tat org.apache.spark.sql.classic.Dataset.withAction(Dataset.scala:2232)\n\tat org.apache.spark.sql.classic.Dataset.head(Dataset.scala:1379)\n\tat org.apache.spark.sql.Dataset.take(Dataset.scala:2810)\n\tat org.apache.spark.sql.classic.Dataset.getRows(Dataset.scala:339)\n\tat org.apache.spark.sql.classic.Dataset.showString(Dataset.scala:375)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:569)\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\n\tat py4j.Gateway.invoke(Gateway.java:282)\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n", "stacktrace": [{"class": null, "method": "deco", "file": "/usr/local/lib/python3.12/dist-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/usr/local/lib/python3.12/dist-packages/py4j/protocol.py", "line": "327"}]}}

NumberFormatException: [CAST_INVALID_INPUT] The value '' of the type "STRING" cannot be cast to "INT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== DataFrame ==
"cast" was called from
line 3 in cell [19]