In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
    .appName("Day21")\
    .getOrCreate()

In [3]:
data = [
    ("ORD001","Delhi","Laptop",45000),
    ("ORD002","Mumbai","Mobile",32000),
    ("ORD003","Bangalore","Laptop",52000),
    ("ORD004","Delhi","Tablet",28000),
    ("ORD005","Mumbai","Laptop",61000),
    ("ORD006","Chennai","Mobile",30000),
    ("ORD007","Delhi","Laptop",47000),
    ("ORD008","Bangalore","Tablet",35000),
    ("ORD009","Mumbai","Laptop",58000),
    ("ORD010","Delhi","Mobile",29000)
]

columns = ["order_id","city","product","amount"]

df = spark.createDataFrame(data, columns)

In [4]:
high_value_df = df.filter(df["amount"] > 40000)

In [5]:
high_value_df.count()
high_value_df.groupby("city").sum("amount").show()
high_value_df.groupBy("product").avg("amount").show()

+---------+-----------+
|     city|sum(amount)|
+---------+-----------+
|Bangalore|      52000|
|   Mumbai|     119000|
|    Delhi|      92000|
+---------+-----------+

+-------+-----------+
|product|avg(amount)|
+-------+-----------+
| Laptop|    52600.0|
+-------+-----------+

In [6]:
high_value_df.cache()
high_value_df.count()
high_value_df.groupBy("city").sum("amount").show()
high_value_df.groupBy("product").avg("amount").show()

+---------+-----------+
|     city|sum(amount)|
+---------+-----------+
|Bangalore|      52000|
|   Mumbai|     119000|
|    Delhi|      92000|
+---------+-----------+

+-------+-----------+
|product|avg(amount)|
+-------+-----------+
| Laptop|    52600.0|
+-------+-----------+

In [7]:
high_value_df.unpersist()

DataFrame[order_id: string, city: string, product: string, amount: bigint]