In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
    .appName("Day20ex")\
    .getOrCreate()

In [2]:
raw_orders = [
    ("ORD001","C001","Ravi"," Delhi ","Laptop","Electronics","45000","2024-01-05","Completed"),
    ("ORD002","C002","Sneha","Mumbai"," Mobile ","Electronics","32000","05/01/2024","Completed"),
    ("ORD003","C003","Aman","Bangalore","Laptop","Electronics","55000","2024/01/06","Completed"),
    ("ORD004","C004","Pooja","Delhi","Tablet"," Electronics ","","2024-01-07","Cancelled"),
    ("ORD005","C005","Neha","Chennai","Laptop","Electronics","48000","invalid_date","Completed"),
    ("ORD006","C006","Rahul","Mumbai","Mobile","Electronics",None,"2024-01-08","Completed"),
    ("ORD007","C007","Kiran","Bangalore","Tablet","Electronics","30000","2024-01-08","Completed"),
    ("ORD008","C008","Amit","Delhi","Laptop","electronics","45000","2024-01-09","Completed"),
    ("ORD009","C009","Priya"," Pune","Mobile","Electronics","28000","09-01-2024","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),
    ("ORD011","C011","Meena","Chennai","Tablet","Electronics","31000","2024-01-11","Completed"),
    ("ORD012","C012","Arjun","Delhi","Mobile","Electronics","27000","2024/01/11","Completed"),
    ("ORD013","C013","Nikhil","Bangalore","Laptop","Electronics","60000","2024-01-12","Completed"),
    ("ORD014","C014","Rohit","Mumbai","Mobile","Electronics","invalid_price","2024-01-12","Completed"),
    ("ORD015","C015","Anita","Delhi","Tablet","Electronics","29000","2024-01-13","Completed"),
    ("ORD016","C016","Vikas","Chennai","Laptop","Electronics","52000","2024-01-13","Completed"),
    ("ORD017","C017","Sunita","Mumbai","Mobile","Electronics","33000","2024-01-14","Completed"),
    ("ORD018","C018","Deepak","Bangalore","Laptop","Electronics","58000","2024-01-14","Completed"),
    ("ORD019","C019","Pallavi","Delhi","Mobile","Electronics","26000","2024-01-15","Completed"),
    ("ORD020","C020","Manish","Mumbai","Tablet","Electronics","34000","2024-01-15","Completed")
]
columns=["order_id","customer_id","customer_name","city","product","category","price","order_date","order_status"]
df=spark.createDataFrame(raw_orders,columns)
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
|order_id|customer_id|customer_name|     city| product|     category|        price|  order_date|order_status|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|   Completed|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|   Completed|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|   Completed|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|   Cancelled|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|   Completed|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|   Completed|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|   Completed|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|   Completed|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|   Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|   Completed|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|   Completed|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|   Completed|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|   Completed|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|   Completed|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|   Completed|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|   Completed|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|   Completed|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|   Completed|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
only showing top 20 rows

Rename all columns to snake_case

In [3]:
def to_snake(s: str) -> str:
    return s.strip().replace(" ", "_").replace("-", "_").lower()

df = df.toDF(*[to_snake(c) for c in df.columns])
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
|order_id|customer_id|customer_name|     city| product|     category|        price|  order_date|order_status|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|   Completed|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|   Completed|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|   Completed|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|   Cancelled|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|   Completed|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|   Completed|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|   Completed|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|   Completed|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|   Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|   Completed|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|   Completed|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|   Completed|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|   Completed|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|   Completed|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|   Completed|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|   Completed|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|   Completed|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|   Completed|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
only showing top 20 rows

Add a column price_with_tax (18%)

In [15]:
from pyspark.sql import functions as F
df = df.withColumn("price_with_tax", F.expr("try_cast(price as double) * 1.18"))
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+---------+--------------+--------------+
|order_id|customer_id|customer_name|     city| product|     category|        price|  order_date|order_status|price_int|price_with_tax|price_category|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+---------+--------------+--------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|   Completed|    45000|       53100.0|          High|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|   Completed|    32000|       37760.0|          High|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|   Completed|    55000|       64900.0|          High|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|   Cancelled|     NULL|          NULL|          NULL|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|   Completed|    48000|       56640.0|          High|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|   Completed|     NULL|          NULL|          NULL|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|   Completed|    30000|       35400.0|        Medium|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|   Completed|    45000|       53100.0|          High|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|   Completed|    28000|       33040.0|        Medium|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|   Completed|    31000|       36580.0|          High|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|   Completed|    27000|       31860.0|        Medium|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|   Completed|    60000|       70800.0|          High|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|   Completed|     NULL|          NULL|          NULL|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|   Completed|    29000|       34220.0|        Medium|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|   Completed|    52000|       61360.0|          High|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|   Completed|    33000|       38940.0|          High|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|   Completed|    58000|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|   Completed|    26000|       30680.0|        Medium|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+---------+--------------+--------------+
only showing top 20 rows

Add a column price_category (Low / Medium / High)

In [20]:
from pyspark.sql import functions as F
df=df.withColumn("price_category",
           F.when(F.expr("try_cast(price as double)")<500,"Low")
          .when((F.expr("try_cast(price as double)")>=500)&(F.expr("try_cast(price as double)")<1500),"Medium")
          .otherwise("High"))
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|order_status|price_int|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|   Completed|    45000|       53100.0|          High|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|   Completed|    32000|       37760.0|          High|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|   Completed|    55000|       64900.0|          High|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|   Cancelled|     NULL|          NULL|          High|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|   Completed|    48000|       56640.0|          High|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|   Completed|     NULL|          NULL|          High|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|   Completed|    30000|       35400.0|          High|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|   Completed|    45000|       53100.0|          High|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|   Completed|    28000|       33040.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|   Completed|    31000|       36580.0|          High|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|   Completed|    27000|       31860.0|          High|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|   Completed|    60000|       70800.0|          High|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|   Completed|     NULL|          NULL|          High|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|   Completed|    29000|       34220.0|          High|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|   Completed|    52000|       61360.0|          High|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|   Completed|    33000|       38940.0|          High|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|   Completed|    58000|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|   Completed|    26000|       30680.0|          High|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+
only showing top 20 rows

In [21]:

from pyspark.sql import functions as F

df = (
    df.withColumn("city", F.initcap(F.trim(F.col("city"))))
      .withColumn("product", F.initcap(F.trim(F.col("product"))))
      .withColumn("category", F.initcap(F.trim(F.col("category"))))

)
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|order_status|price_int|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|   Completed|    45000|       53100.0|          High|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|   Completed|    32000|       37760.0|          High|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|   Completed|    55000|       64900.0|          High|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|   Cancelled|     NULL|          NULL|          High|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|   Completed|    48000|       56640.0|          High|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|   Completed|     NULL|          NULL|          High|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|   Completed|    30000|       35400.0|          High|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|   Completed|    45000|       53100.0|          High|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|   Completed|    28000|       33040.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|   Completed|    31000|       36580.0|          High|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|   Completed|    27000|       31860.0|          High|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|   Completed|    60000|       70800.0|          High|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|   Completed|     NULL|          NULL|          High|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|   Completed|    29000|       34220.0|          High|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|   Completed|    52000|       61360.0|          High|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|   Completed|    33000|       38940.0|          High|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|   Completed|    58000|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|   Completed|    26000|       30680.0|          High|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+
only showing top 20 rows

Convert price to integer

In [22]:
df=df.withColumn("price_num",F.expr("try_cast(regexp_replace(price,'[^0-9]','') as int)"))
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|order_status|price_int|price_with_tax|price_category|price_num|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|   Completed|    45000|       53100.0|          High|    45000|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|   Completed|    32000|       37760.0|          High|    32000|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|   Completed|    55000|       64900.0|          High|    55000|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|   Cancelled|     NULL|          NULL|          High|     NULL|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|   Completed|    48000|       56640.0|          High|    48000|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|   Completed|     NULL|          NULL|          High|     NULL|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|   Completed|    30000|       35400.0|          High|    30000|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|   Completed|    45000|       53100.0|          High|    45000|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|   Completed|    28000|       33040.0|          High|    28000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|    55000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|    55000|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|   Completed|    31000|       36580.0|          High|    31000|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|   Completed|    27000|       31860.0|          High|    27000|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|   Completed|    60000|       70800.0|          High|    60000|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|   Completed|     NULL|          NULL|          High|     NULL|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|   Completed|    29000|       34220.0|          High|    29000|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|   Completed|    52000|       61360.0|          High|    52000|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|   Completed|    33000|       38940.0|          High|    33000|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|   Completed|    58000|       68440.0|          High|    58000|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|   Completed|    26000|       30680.0|          High|    26000|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+
only showing top 20 rows

Handle invalid and null prices

In [23]:
df=df.fillna({"price_num":0})
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|order_status|price_int|price_with_tax|price_category|price_num|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|   Completed|    45000|       53100.0|          High|    45000|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|   Completed|    32000|       37760.0|          High|    32000|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|   Completed|    55000|       64900.0|          High|    55000|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|   Cancelled|     NULL|          NULL|          High|        0|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|   Completed|    48000|       56640.0|          High|    48000|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|   Completed|     NULL|          NULL|          High|        0|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|   Completed|    30000|       35400.0|          High|    30000|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|   Completed|    45000|       53100.0|          High|    45000|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|   Completed|    28000|       33040.0|          High|    28000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|    55000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|    55000|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|   Completed|    31000|       36580.0|          High|    31000|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|   Completed|    27000|       31860.0|          High|    27000|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|   Completed|    60000|       70800.0|          High|    60000|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|   Completed|     NULL|          NULL|          High|        0|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|   Completed|    29000|       34220.0|          High|    29000|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|   Completed|    52000|       61360.0|          High|    52000|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|   Completed|    33000|       38940.0|          High|    33000|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|   Completed|    58000|       68440.0|          High|    58000|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|   Completed|    26000|       30680.0|          High|    26000|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+
only showing top 20 rows

Normalize all dates into DateType

In [29]:

from pyspark.sql import functions as F

clean = F.regexp_replace(F.trim(F.col("order_date")), r"[./]", "-")

df = df.withColumn(
    "order_dt",
    F.when(clean.rlike(r"^\d{4}-\d{2}-\d{2}$"), F.to_date(clean, "yyyy-MM-dd"))
     .when(clean.rlike(r"^\d{2}-\d{2}-\d{4}$"), F.to_date(clean, "dd-MM-yyyy"))
     .otherwise(F.lit(None).cast("date"))
)

df.select("order_date", "order_dt").show(truncate=False)

+------------+----------+
|order_date  |order_dt  |
+------------+----------+
|2024-01-05  |2024-01-05|
|05/01/2024  |2024-01-05|
|2024/01/06  |2024-01-06|
|2024-01-07  |2024-01-07|
|invalid_date|NULL      |
|2024-01-08  |2024-01-08|
|2024-01-08  |2024-01-08|
|2024-01-09  |2024-01-09|
|09-01-2024  |2024-01-09|
|2024-01-10  |2024-01-10|
|2024-01-10  |2024-01-10|
|2024-01-11  |2024-01-11|
|2024/01/11  |2024-01-11|
|2024-01-12  |2024-01-12|
|2024-01-12  |2024-01-12|
|2024-01-13  |2024-01-13|
|2024-01-13  |2024-01-13|
|2024-01-14  |2024-01-14|
|2024-01-14  |2024-01-14|
|2024-01-15  |2024-01-15|
+------------+----------+
only showing top 20 rows

Remove duplicate orders

In [31]:
df = df.dropDuplicates(["order_id"])
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|order_status|price_int|price_with_tax|price_category|price_num|  order_dt|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|   Completed|    45000|       53100.0|          High|    45000|2024-01-05|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|   Completed|    32000|       37760.0|          High|    32000|2024-01-05|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|   Completed|    55000|       64900.0|          High|    55000|2024-01-06|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|   Cancelled|     NULL|          NULL|          High|        0|2024-01-07|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|   Completed|    48000|       56640.0|          High|    48000|      NULL|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|   Completed|     NULL|          NULL|          High|        0|2024-01-08|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|   Completed|    30000|       35400.0|          High|    30000|2024-01-08|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|   Completed|    45000|       53100.0|          High|    45000|2024-01-09|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|   Completed|    28000|       33040.0|          High|    28000|2024-01-09|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|    55000|2024-01-10|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|   Completed|    31000|       36580.0|          High|    31000|2024-01-11|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|   Completed|    27000|       31860.0|          High|    27000|2024-01-11|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|   Completed|    60000|       70800.0|          High|    60000|2024-01-12|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|   Completed|     NULL|          NULL|          High|        0|2024-01-12|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|   Completed|    29000|       34220.0|          High|    29000|2024-01-13|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|   Completed|    52000|       61360.0|          High|    52000|2024-01-13|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|   Completed|    33000|       38940.0|          High|    33000|2024-01-14|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|   Completed|    58000|       68440.0|          High|    58000|2024-01-14|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|   Completed|    26000|       30680.0|          High|    26000|2024-01-15|
|  ORD020|       C020|       Manish|   Mumbai| Tablet|Electronics|        34000|  2024-01-15|   Completed|    34000|       40120.0|          High|    34000|2024-01-15|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+

Filter only Completed orders

In [33]:
df = df.filter(F.col("order_status") == "Completed")
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|order_status|price_int|price_with_tax|price_category|price_num|  order_dt|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|   Completed|    45000|       53100.0|          High|    45000|2024-01-05|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|   Completed|    32000|       37760.0|          High|    32000|2024-01-05|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|   Completed|    55000|       64900.0|          High|    55000|2024-01-06|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|   Completed|    48000|       56640.0|          High|    48000|      NULL|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|   Completed|     NULL|          NULL|          High|        0|2024-01-08|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|   Completed|    30000|       35400.0|          High|    30000|2024-01-08|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|   Completed|    45000|       53100.0|          High|    45000|2024-01-09|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|   Completed|    28000|       33040.0|          High|    28000|2024-01-09|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|   Completed|    55000|       64900.0|          High|    55000|2024-01-10|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|   Completed|    31000|       36580.0|          High|    31000|2024-01-11|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|   Completed|    27000|       31860.0|          High|    27000|2024-01-11|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|   Completed|    60000|       70800.0|          High|    60000|2024-01-12|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|   Completed|     NULL|          NULL|          High|        0|2024-01-12|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|   Completed|    29000|       34220.0|          High|    29000|2024-01-13|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|   Completed|    52000|       61360.0|          High|    52000|2024-01-13|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|   Completed|    33000|       38940.0|          High|    33000|2024-01-14|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|   Completed|    58000|       68440.0|          High|    58000|2024-01-14|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|   Completed|    26000|       30680.0|          High|    26000|2024-01-15|
|  ORD020|       C020|       Manish|   Mumbai| Tablet|Electronics|        34000|  2024-01-15|   Completed|    34000|       40120.0|          High|    34000|2024-01-15|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+

Create order_year , order_month

In [34]:

from pyspark.sql import functions as F

df = (
    df.withColumn("order_year", F.year(F.col("order_dt")))
      .withColumn("order_month", F.month(F.col("order_dt")))
)

df.select("order_date", "order_dt", "order_year", "order_month").show(truncate=False)

+------------+----------+----------+-----------+
|order_date  |order_dt  |order_year|order_month|
+------------+----------+----------+-----------+
|2024-01-05  |2024-01-05|2024      |1          |
|05/01/2024  |2024-01-05|2024      |1          |
|2024/01/06  |2024-01-06|2024      |1          |
|invalid_date|NULL      |NULL      |NULL       |
|2024-01-08  |2024-01-08|2024      |1          |
|2024-01-08  |2024-01-08|2024      |1          |
|2024-01-09  |2024-01-09|2024      |1          |
|09-01-2024  |2024-01-09|2024      |1          |
|2024-01-10  |2024-01-10|2024      |1          |
|2024-01-11  |2024-01-11|2024      |1          |
|2024/01/11  |2024-01-11|2024      |1          |
|2024-01-12  |2024-01-12|2024      |1          |
|2024-01-12  |2024-01-12|2024      |1          |
|2024-01-13  |2024-01-13|2024      |1          |
|2024-01-13  |2024-01-13|2024      |1          |
|2024-01-14  |2024-01-14|2024      |1          |
|2024-01-14  |2024-01-14|2024      |1          |
|2024-01-15  |2024-01-15|2024      |1          |
|2024-01-15  |2024-01-15|2024      |1          |
+------------+----------+----------+-----------+

Aggregate total revenue per city

In [35]:

from pyspark.sql import functions as F

revenue_by_city = df.groupBy("city").agg(F.sum("price_int").alias("total_revenue"))
revenue_by_city.show()

+---------+-------------+
|     city|total_revenue|
+---------+-------------+
|Bangalore|       203000|
|  Chennai|       131000|
|   Mumbai|       154000|
|     Pune|        28000|
|    Delhi|       172000|
+---------+-------------+

Aggregate total revenue per product

In [36]:

from pyspark.sql import functions as F
revenue_by_product = df.groupBy("product").agg(F.sum("price_int").alias("total_revenue"))
revenue_by_product.orderBy(F.desc("total_revenue")).show(truncate=False)

+-------+-------------+
|product|total_revenue|
+-------+-------------+
|Laptop |418000       |
|Mobile |146000       |
|Tablet |124000       |
+-------+-------------+

Identify top 3 cities by revenue

In [37]:

from pyspark.sql import functions as F
revenue_by_city = df.groupBy("city").agg(F.sum("price_int").alias("total_revenue"))
top3_cities = revenue_by_city.orderBy(F.desc("total_revenue")).limit(3)
top3_cities.show(truncate=False)

+---------+-------------+
|city     |total_revenue|
+---------+-------------+
|Bangalore|203000       |
|Delhi    |172000       |
|Mumbai   |154000       |
+---------+-------------+

Identify products with average price above threshold

In [38]:

from pyspark.sql import functions as F
threshold = 45000
products_avg_above = (
    df.groupBy("product")
      .agg(F.avg("price_int").alias("avg_price"))
      .filter(F.col("avg_price") > threshold)
      .orderBy(F.desc("avg_price"))
)

products_avg_above.show(truncate=False)

+-------+---------+
|product|avg_price|
+-------+---------+
|Laptop |52250.0  |
+-------+---------+

15. Write cleaned data to Parquet

In [39]:

parquet_path = "/tmp/cleaned_orders_parquet"

df.write.mode("overwrite").parquet(parquet_path)

Read Parquet back and verify schema

In [40]:
parquet_path = "/tmp/cleaned_orders_parquet"
df_parquet = spark.read.parquet(parquet_path)
df_parquet.printSchema()
df_parquet.show(truncate=False)

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- price_int: integer (nullable = true)
 |-- price_with_tax: double (nullable = true)
 |-- price_category: string (nullable = true)
 |-- price_num: integer (nullable = true)
 |-- order_dt: date (nullable = true)
 |-- order_year: integer (nullable = true)
 |-- order_month: integer (nullable = true)

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+----------+-----------+
|order_id|customer_id|customer_name|city     |product|category   |price        |order_date  |order_status|price_int|price_with_tax|price_category|price_num|order_dt  |order_year|order_month|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+----------+-----------+
|ORD001  |C001       |Ravi         |Delhi    |Laptop |Electronics|45000        |2024-01-05  |Completed   |45000    |53100.0       |High          |45000    |2024-01-05|2024      |1          |
|ORD002  |C002       |Sneha        |Mumbai   |Mobile |Electronics|32000        |05/01/2024  |Completed   |32000    |37760.0       |High          |32000    |2024-01-05|2024      |1          |
|ORD003  |C003       |Aman         |Bangalore|Laptop |Electronics|55000        |2024/01/06  |Completed   |55000    |64900.0       |High          |55000    |2024-01-06|2024      |1          |
|ORD005  |C005       |Neha         |Chennai  |Laptop |Electronics|48000        |invalid_date|Completed   |48000    |56640.0       |High          |48000    |NULL      |NULL      |NULL       |
|ORD006  |C006       |Rahul        |Mumbai   |Mobile |Electronics|NULL         |2024-01-08  |Completed   |NULL     |NULL          |High          |0        |2024-01-08|2024      |1          |
|ORD007  |C007       |Kiran        |Bangalore|Tablet |Electronics|30000        |2024-01-08  |Completed   |30000    |35400.0       |High          |30000    |2024-01-08|2024      |1          |
|ORD008  |C008       |Amit         |Delhi    |Laptop |Electronics|45000        |2024-01-09  |Completed   |45000    |53100.0       |High          |45000    |2024-01-09|2024      |1          |
|ORD009  |C009       |Priya        |Pune     |Mobile |Electronics|28000        |09-01-2024  |Completed   |28000    |33040.0       |High          |28000    |2024-01-09|2024      |1          |
|ORD010  |C010       |Suresh       |Mumbai   |Laptop |Electronics|55000        |2024-01-10  |Completed   |55000    |64900.0       |High          |55000    |2024-01-10|2024      |1          |
|ORD011  |C011       |Meena        |Chennai  |Tablet |Electronics|31000        |2024-01-11  |Completed   |31000    |36580.0       |High          |31000    |2024-01-11|2024      |1          |
|ORD012  |C012       |Arjun        |Delhi    |Mobile |Electronics|27000        |2024/01/11  |Completed   |27000    |31860.0       |High          |27000    |2024-01-11|2024      |1          |
|ORD013  |C013       |Nikhil       |Bangalore|Laptop |Electronics|60000        |2024-01-12  |Completed   |60000    |70800.0       |High          |60000    |2024-01-12|2024      |1          |
|ORD014  |C014       |Rohit        |Mumbai   |Mobile |Electronics|invalid_price|2024-01-12  |Completed   |NULL     |NULL          |High          |0        |2024-01-12|2024      |1          |
|ORD015  |C015       |Anita        |Delhi    |Tablet |Electronics|29000        |2024-01-13  |Completed   |29000    |34220.0       |High          |29000    |2024-01-13|2024      |1          |
|ORD016  |C016       |Vikas        |Chennai  |Laptop |Electronics|52000        |2024-01-13  |Completed   |52000    |61360.0       |High          |52000    |2024-01-13|2024      |1          |
|ORD017  |C017       |Sunita       |Mumbai   |Mobile |Electronics|33000        |2024-01-14  |Completed   |33000    |38940.0       |High          |33000    |2024-01-14|2024      |1          |
|ORD018  |C018       |Deepak       |Bangalore|Laptop |Electronics|58000        |2024-01-14  |Completed   |58000    |68440.0       |High          |58000    |2024-01-14|2024      |1          |
|ORD019  |C019       |Pallavi      |Delhi    |Mobile |Electronics|26000        |2024-01-15  |Completed   |26000    |30680.0       |High          |26000    |2024-01-15|2024      |1          |
|ORD020  |C020       |Manish       |Mumbai   |Tablet |Electronics|34000        |2024-01-15  |Completed   |34000    |40120.0       |High          |34000    |2024-01-15|2024      |1          |
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+------------+---------+--------------+--------------+---------+----------+----------+-----------+

Write the same data to ORC

In [41]:
orc_path = "/tmp/cleaned_orders_orc"
df.write.mode("overwrite").orc(orc_path)

Check number of partitions

In [43]:

print("Number of partitions:", df.rdd.getNumPartitions())

Number of partitions: 1

Repartition before writing

In [45]:

df.repartition(4).write.mode("overwrite").parquet("/tmp/cleaned_orders_parquet")

print("Before:", df.rdd.getNumPartitions())
df = df.repartition(4)
print("After:", df.rdd.getNumPartitions())

Before: 1
After: 4

Compare file counts between Parquet and ORC

In [46]:

df_parquet = spark.read.parquet("/tmp/cleaned_orders_parquet")
df_orc     = spark.read.orc("/tmp/cleaned_orders_orc")

print("Parquet partitions:", df_parquet.rdd.getNumPartitions())
print("ORC partitions:", df_orc.rdd.getNumPartitions())

Parquet partitions: 2
ORC partitions: 1

Run explain(True) on final pipeline

In [48]:

print("Explain plan for final df (df6):")
df.explain(True)

Explain plan for final df (df6):
== Parsed Logical Plan ==
Repartition 4, true
+- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, order_dt#663, order_year#1471, month(order_dt#663) AS order_month#1472]
   +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, order_dt#663, year(order_dt#663) AS order_year#1471]
      +- Filter (order_status#45 = Completed)
         +- Filter (order_status#45 = Completed)
            +- Deduplicate [order_id#37]
               +- Deduplicate [order_id#37]
                  +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, CASE WHEN RLIKE(regexp_replace(trim(order_date#44, None), [./], -, 1), ^\d{4}-\d{2}-\d{2}$) THEN to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(order_date#44, None), [./], -, 1), ^\d{2}-\d{2}-\d{4}$) THEN to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#663]
                     +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, coalesce(to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true)) AS order_dt#619]
                        +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, coalesce(to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true)) AS order_dt#618]
                           +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, try_cast(price#43 as int) AS price_int#577, price_with_tax#307, price_category#416, price_num#535]
                              +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, try_cast(price#43 as int) AS price_int#576, price_with_tax#307, price_category#416, price_num#535]
                                 +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416, coalesce(price_num#494, cast(0 as int)) AS price_num#535]
                                    +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416, try_cast(regexp_replace(price#43, [^0-9], , 1) as int) AS price_num#494]
                                       +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, initcap(trim(category#378, None)) AS category#456, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416]
                                          +- Project [order_id#37, customer_id#38, customer_name#39, city#454, initcap(trim(product#377, None)) AS product#455, category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416]
                                             +- Project [order_id#37, customer_id#38, customer_name#39, initcap(trim(city#376, None)) AS city#454, product#377, category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416]
                                                +- Project [order_id#37, customer_id#38, customer_name#39, city#376, product#377, category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, CASE WHEN (try_cast(price#43 as double) < cast(500 as double)) THEN Low WHEN ((try_cast(price#43 as double) >= cast(500 as double)) AND (try_cast(price#43 as double) < cast(1500 as double))) THEN Medium ELSE High END AS price_category#416]
                                                   +- Project [order_id#37, customer_id#38, customer_name#39, city#376, product#377, initcap(trim(category#42, None)) AS category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#362]
                                                      +- Project [order_id#37, customer_id#38, customer_name#39, city#376, initcap(trim(product#41, None)) AS product#377, category#42, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#362]
                                                         +- Project [order_id#37, customer_id#38, customer_name#39, initcap(trim(city#40, None)) AS city#376, product#41, category#42, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#362]
                                                            +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, CASE WHEN isnull(price_int#361) THEN cast(null as string) WHEN (price_int#361 < 10000) THEN Low WHEN (price_int#361 <= 30000) THEN Medium ELSE High END AS price_category#362]
                                                               +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, CASE WHEN RLIKE(regexp_replace(trim(price#43, None), [^\d], , 1), ^\d+$) THEN cast(regexp_replace(trim(price#43, None), [^\d], , 1) as int) ELSE cast(null as int) END AS price_int#361, price_with_tax#307, price_category#347]
                                                                  +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#346, price_with_tax#307, CASE WHEN isnull(price_int#346) THEN cast(null as string) WHEN (price_int#346 < 10000) THEN Low WHEN (price_int#346 <= 30000) THEN Medium ELSE High END AS price_category#347]
                                                                     +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#346, price_with_tax#307, price_category#293]
                                                                        +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, CASE WHEN RLIKE(price_clean#345, ^\d+$) THEN cast(price_clean#345 as int) ELSE cast(null as int) END AS price_int#346, price_with_tax#307, price_category#293, price_clean#345]
                                                                           +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#292, price_with_tax#307, price_category#293, regexp_replace(trim(cast(price#43 as string), None), [^\d], , 1) AS price_clean#345]
                                                                              +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#292, (try_cast(price#43 as double) * cast(1.18 as double)) AS price_with_tax#307, price_category#293]
                                                                                 +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#292, price_with_tax#218, CASE WHEN isnull(price_int#292) THEN cast(null as string) WHEN (price_int#292 < 10000) THEN Low WHEN (price_int#292 <= 30000) THEN Medium ELSE High END AS price_category#293]
                                                                                    +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#292, price_with_tax#218, price_category#253]
                                                                                       +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, CASE WHEN RLIKE(price_clean#291, ^\d+$) THEN cast(price_clean#291 as int) ELSE cast(null as int) END AS price_int#292, price_with_tax#218, price_category#253, price_clean#291]
                                                                                          +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#182, price_with_tax#218, price_category#253, regexp_replace(trim(cast(price#43 as string), None), [^\d], , 1) AS price_clean#291]
                                                                                             +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#182, price_with_tax#218, CASE WHEN isnull(price_int#182) THEN cast(null as string) WHEN (price_int#182 < 10000) THEN Low WHEN (price_int#182 <= 30000) THEN Medium ELSE High END AS price_category#253]
                                                                                                +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#182, (cast(price#43 as double) * 1.18) AS price_with_tax#218]
                                                                                                   +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#182, cast((cast(price_int#182 as double) * 1.18) as double) AS price_with_tax#183]
                                                                                                      +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, cast(regexp_replace(price#43, [^0-9], , 1) as int) AS price_int#182, price_with_tax#147]
                                                                                                         +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#76, (cast(price#43 as double) * 1.18) AS price_with_tax#147]
                                                                                                            +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#76, (cast(price#43 as double) * 1.18) AS price_with_tax#112]
                                                                                                               +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#76, cast((cast(price_int#76 as double) * 1.18) as double) AS price_with_tax#77]
                                                                                                                  +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, cast(regexp_replace(price#43, [^0-9], , 1) as int) AS price_int#76, price_with_tax#75]
                                                                                                                     +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#74, cast((cast(price_int#74 as double) * 1.18) as double) AS price_with_tax#75]
                                                                                                                        +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, cast(regexp_replace(price#43, [^0-9], , 1) as int) AS price_int#74]
                                                                                                                           +- Project [order_id#0 AS order_id#37, customer_id#1 AS customer_id#38, customer_name#2 AS customer_name#39, city#3 AS city#40, product#4 AS product#41, category#5 AS category#42, price#6 AS price#43, order_date#7 AS order_date#44, order_status#8 AS order_status#45]
                                                                                                                              +- LogicalRDD [order_id#0, customer_id#1, customer_name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8], false

== Analyzed Logical Plan ==
order_id: string, customer_id: string, customer_name: string, city: string, product: string, category: string, price: string, order_date: string, order_status: string, price_int: int, price_with_tax: double, price_category: string, price_num: int, order_dt: date, order_year: int, order_month: int
Repartition 4, true
+- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, order_dt#663, order_year#1471, month(order_dt#663) AS order_month#1472]
   +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, order_dt#663, year(order_dt#663) AS order_year#1471]
      +- Filter (order_status#45 = Completed)
         +- Filter (order_status#45 = Completed)
            +- Deduplicate [order_id#37]
               +- Deduplicate [order_id#37]
                  +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, CASE WHEN RLIKE(regexp_replace(trim(order_date#44, None), [./], -, 1), ^\d{4}-\d{2}-\d{2}$) THEN to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(order_date#44, None), [./], -, 1), ^\d{2}-\d{2}-\d{4}$) THEN to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#663]
                     +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, coalesce(to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true)) AS order_dt#619]
                        +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#577, price_with_tax#307, price_category#416, price_num#535, coalesce(to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(regexp_replace(trim(order_date#44, None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true)) AS order_dt#618]
                           +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, try_cast(price#43 as int) AS price_int#577, price_with_tax#307, price_category#416, price_num#535]
                              +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, try_cast(price#43 as int) AS price_int#576, price_with_tax#307, price_category#416, price_num#535]
                                 +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416, coalesce(price_num#494, cast(0 as int)) AS price_num#535]
                                    +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, category#456, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416, try_cast(regexp_replace(price#43, [^0-9], , 1) as int) AS price_num#494]
                                       +- Project [order_id#37, customer_id#38, customer_name#39, city#454, product#455, initcap(trim(category#378, None)) AS category#456, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416]
                                          +- Project [order_id#37, customer_id#38, customer_name#39, city#454, initcap(trim(product#377, None)) AS product#455, category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416]
                                             +- Project [order_id#37, customer_id#38, customer_name#39, initcap(trim(city#376, None)) AS city#454, product#377, category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#416]
                                                +- Project [order_id#37, customer_id#38, customer_name#39, city#376, product#377, category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, CASE WHEN (try_cast(price#43 as double) < cast(500 as double)) THEN Low WHEN ((try_cast(price#43 as double) >= cast(500 as double)) AND (try_cast(price#43 as double) < cast(1500 as double))) THEN Medium ELSE High END AS price_category#416]
                                                   +- Project [order_id#37, customer_id#38, customer_name#39, city#376, product#377, initcap(trim(category#42, None)) AS category#378, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#362]
                                                      +- Project [order_id#37, customer_id#38, customer_name#39, city#376, initcap(trim(product#41, None)) AS product#377, category#42, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#362]
                                                         +- Project [order_id#37, customer_id#38, customer_name#39, initcap(trim(city#40, None)) AS city#376, product#41, category#42, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, price_category#362]
                                                            +- Project [order_id#37, customer_id#38, customer_name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#45, price_int#361, price_with_tax#307, CASE WHEN isnull(price_int#361) THEN cast(null as string) WHEN (price_int#361 < 10000) THEN Low WHEN (price_int#361 <= 30000) THEN Medium ELSE High END AS price_category#362]